---
import type { CollectionEntry } from 'astro:content';

import Header from './core/Header.svelte';
import Footer from './core/Footer.astro';
import Portal from './Portal.astro';
import SearchModal from './SearchModal.svelte'
import ChapterOutline from './ChapterOutline.astro';
import ChapterSidebar from './popover/ChapterSidebar.svelte';
import ChapterBar from './ChapterBar.astro';
import ChapterCongrats from './ChapterCongrats.astro';

interface Props {
    guide: CollectionEntry<'guide'>,
    chapter: CollectionEntry<'chapter'>,
    chapters: Array<CollectionEntry<'chapter'>>,
    headings?: Heading[]
}

type Heading = {
    depth: number
    slug: string
    text: string
}

const { chapters, guide, chapter, headings } = Astro.props
const isActiveChapter = (currentChapter: CollectionEntry<'chapter'>) => chapter.slug.split('/').pop() === currentChapter.slug.split('/').pop()
const sortedChapters = chapters.sort((a, b) => a.data.chapterNumber - b.data.chapterNumber);
---
<body class="font-sans antialiased min-h-screen bg-base-100 dark:bg-dark-base-100 text-dark-base-100 dark:text-base-100">
    <div class="transition-colors">
        <div class="mx-auto max-w-7xl px-4 md:px-0 mt-24">
            <Header client:load/>

            <!-- Chapter Bar -->
            <ChapterBar chapter={chapter} totalChapters={chapters.length} guideTitle={guide.data.title}/>
            <section class="flex justify-between content-end" id="sticky-banner-target">
                <!-- Sidebar -->
                <ChapterSidebar client:load>
                      <span slot="title">chapters</span>
                      <!-- <Icon slot="trigger" name="x-circle" class="w-6 h-6" />  -->
                      <ChapterOutline chapters={chapters} selectedChapter={chapter} headings={headings} />
                </SidebarWrapper>
                <!-- Main -->
                <main class="main">
                    <slot/>
                    <!-- { sortedChapters.length && chapter.chapterNumber !== sortedChapters.length && <ChapterCongrats chapter={chapter} nextChapter={sortedChapters[chapter.data.chapterNumber]} client:visible />} -->
                </main>
            </section>
            <br class="my-4"/>
            <Footer/>
        </div>
    </div>
    <Portal>
        <SearchModal client:load/>
    </Portal>
</body>

<style>
    @reference "tailwindcss";

    .content {
        min-height: 580px
    }

    .main {
        @apply w-full lg:w-9/12 md:px-8 lg:px-0;
    }
    /* .meta {
        @apply text-sm font-semibold uppercase ;
    } */
</style>