---
import type { CollectionEntry } from 'astro:content';
import Timeline from './Timeline/Timeline.astro';
import TimelineItem from './Timeline/TimelineItem.astro';

type Props = {
    chapters: CollectionEntry<'chapter'>[],
    selectedChapter: CollectionEntry<'chapter'>,
    headings?: Heading[],
    supressHeadings?: boolean
}

type Heading = {
    depth: number
    slug: string
    text: string
}

const { chapters, selectedChapter, headings = [], supressHeadings = true } = Astro.props
const sortedChapters = chapters.sort((a, b) => a.data.seriesOrdinal - b.data.seriesOrdinal);
const isActiveChapter = (currentChapter: CollectionEntry<'chapter'>) => selectedChapter.id.split('/').pop() === currentChapter.id.split('/').pop()
---
<div class="chapter__outline w-full">
    <Timeline class='fixed'>
        { sortedChapters.map(chapter => 
            <TimelineItem>
                <a class:list={['text-dark-neutral dark:text-neutral', isActiveChapter(chapter) ? 'text-primary' : '']} href={chapter.guide.chapterSlug} title={chapter.data.title}>{chapter.data.tocTitle}</a>
                {isActiveChapter(chapter) && headings.length && !supressHeadings && <Timeline>
                    {
                        headings.map(heading => 
                            <TimelineItem>
                                <a class="text-sm" href={`#${heading.slug}`} title={heading.text}>
                                    {heading.text}
                                </a>
                            </TimelineItem>
                        )
                    }
                </Timeline>}
            </TimelineItem>
        )}
    </Timeline>
</div>
<style>
    .chapter__outline {
        @apply w-full;
    }
</style>
