---
import type { CollectionEntry } from 'astro:content';

type Props = {
    chapter: CollectionEntry<'chapter'>,
    nextChapter: CollectionEntry<'chapter'>,
}

const { chapter, nextChapter } = Astro.props
---

<section class="relative z-[1] py-28">
    <div
        class="w-[calc(100%_-_3rem)] mx-auto max-w-lg sm:max-w-3xl text-center"
    >
        <svg
            class="h-24 w-24 inline-block text-teal-600 fill-current leading-none shrink-0 mb-4"
            viewBox="0 0 96 96"
            aria-hidden="true"
        >
            <g fill="currentColor">
                <circle cx="48" cy="48" r="48" opacity=".1"></circle>
                <circle cx="48" cy="48" r="31" opacity=".2"></circle>
                <circle cx="48" cy="48" r="15" opacity=".3"></circle>
                <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M40 48.5l5 5 11-11"></path>
                <path
                    transform="rotate(25.474 70.507 8.373)"
                    opacity=".5"
                    d="M68.926 4.12h3.159v8.506h-3.159z"></path>
                <path
                    transform="rotate(-52.869 17.081 41.485)"
                    opacity=".5"
                    d="M16.097 36.336h1.969v10.298h-1.969z"></path>
                <path
                    transform="rotate(82.271 75.128 61.041)"
                    opacity=".5"
                    d="M74.144 57.268h1.969v7.547h-1.969z"></path>
                <circle cx="86.321" cy="41.45" r="2.946" opacity=".5"></circle>
                <circle cx="26.171" cy="78.611" r="1.473" opacity=".5"></circle>
                <circle cx="49.473" cy="9.847" r="1.473" opacity=".5"></circle>
                <circle cx="10.283" cy="63" r="2.946" opacity=".2"></circle>
                <path
                    opacity=".4"
                    d="M59.948 88.142l10.558-3.603-4.888-4.455-5.67 8.058z"
                ></path>
                <path
                    opacity=".3"
                    d="M18.512 19.236l5.667 1.456.519-8.738-6.186 7.282z"
                ></path>
                <!-- <text x="50%" y="50%" fill="#000" text-anchor="middle" dy="0.35em" font-size="7.6rem" font-weight="400">
                    <tspan class="astro-rp-unit-0">9</tspan>
                </text> -->
            </g>
        </svg>

        <div class="text-center flex flex-col items-center">
            <h1 class="text-4xl leading-tight font-semibold mb-4">
               You've Completed!
            </h1>
            <p class="text-gray-500 mb-4 leading-snug">
               Chapter {chapter.data.seriesOrdinal}: <strong>{chapter.data.title}</strong>
            </p>

            <div class="bg-white rounded-md px-4 py-2">
                Continue to Chapter {nextChapter.data.seriesOrdinal}:
                
                <a
                    class=" text-primary" href={nextChapter.guide.chapterSlug} title={nextChapter.data.title}>{nextChapter.data.title} →</a>
            </div>
        </div>
    </div>
</section>