---
import BaseLayout from './BaseLayout.astro';
import Header from './core/Header.svelte';
import Footer from './core/Footer.astro';
import Nav from './Nav.astro';
import Portal from './Portal.astro';
import SearchModal from './SearchModal.svelte'
import { getEntries, type CollectionEntry } from 'astro:content';
import GuideChapter from './GuideChapter.astro';
import TechPills from './TechPills.svelte'
import ChapterList from './ChapterList.astro'

interface Props {
    guide: CollectionEntry<'guide'>
    chapters: Array<CollectionEntry<'chapter'>>
}

const { guide, chapters } = Astro.props
const authors = await getEntries(guide.data.authors);
const sortedChapters = chapters.sort((a, b) => a.data.chapterNumber - b.data.chapterNumber);
const niceToKnow = (guide?.data?.needs || []).map(tech => `<strong>${tech}</strong>`).join(', ')
---
<body class="font-sans antialiased min-h-screen bg-gray-100 dark:bg-gray-800">
    <div class="bg-gradient-to-br from-primary to-dark-secondary dark:from-dark-secondary dark:to-primary text-white dark:text-dark-base-100  transition-colors min-h-screen">
        <main class="mx-auto max-w-7xl px-4 md:px-0">
            <br class="my-4"/>
            <Header client:load useBaseColors={true}/>
            <!-- <Nav/> -->
            <div class="flex justify-between content-end py-48">
                <div class="post-preview w-3/5 text-left">
                    <h4 class="post-preview__title dark:text-dark-primary">
                        {guide.data.title}
                    </h4>
                    <p class="post-preview__desc" set:html={guide.data.heroDescription}></p>
                    {sortedChapters && sortedChapters.length > 0 && <div>
                        <a class="inline-block cursor-pointer bg-gradient-to-br from-primary to-dark-secondary dark:from-dark-secondary dark:to-primary px-8 py-4 rounded-full font-bold shadow-primary shadow-xl border border-primary dark:border-dark-primary hover:shadow-2xl" href={`/guides/${sortedChapters[0].guide.slug}/chapter/${sortedChapters[0].guide.chapterSlug}`} title="Get Started">Get Started</a>
                    </div>}
                    <!-- Guide Extras -->
                    <p class="text-sm">Requires basic understanding of <Fragment set:html={niceToKnow}>{niceToKnow}</Fragment>. See the <a href="#overview" title="Learn More">ToC</a> or, <a href="#overview" title="Learn More">learn more</a> about what you'll build below.</p>

                </div>
                <div class="w-2/5 pl-10">
                    {guide.data.coverImagePath && <img class="block h-96" src={guide.data.coverImagePath.src} alt={guide.data.coverImagePath} height={100} />}
                </div>
            </div>
        </main>
    </div>
    <aside class="overview mx-auto max-w-7xl px-4 md:px-0" id="overview">
            <div class="content flex justify-between content-end pt-12 px-8 gap-8">
                <!-- Overview: Left -->
                <div class="col-left w-3/6">
                    <div>
                        <h3 class="font-semibold text-2xl mb-4 text-secondary dark:text-dark-secondary">Overview</h3>
                        <p class="text-gray-900 dark:text-white">{guide.data.overview}</p>
                    </div>
                    <br/>
                    {sortedChapters && sortedChapters.length > 0 && <div class="chapters">
                        <div class="meta mb-4 text-secondary dark:text-dark-secondary">
                            table of contents
                        </div>
                        <ChapterList chapters={sortedChapters}/>
                    </div>}
                </div>
                <!-- Overview: Right -->
                <div class="col-right w-3/6">
                    <div>
                        <slot/>
                    </div>
                    <br/>
                    
                    <!-- Technology pills grid -->
                    <TechPills/>

                    <!-- Demo container placeholder -->
                    <div class="relative overflow-hidden rounded-lg border border-gray-200 dark:border-gray-700 h-16 mb-8 flex items-center justify-center bg-gray-50 dark:bg-gray-800">
                        <img src="/assets/demo-placeholder.png" alt="Demo illustration" class="h-8 w-8" />
                    </div>

                    <!-- Author info -->
                    <div class="border-t dark:border-gray-800 pt-6">
                        <h3 class="text-sm font-bold tracking-wide text-gray-500 dark:text-gray-400 uppercase mb-3">
                            Author
                        </h3>
                        
                        { authors && authors.length > 0 && authors.map(author => <div class="flex items-center">
                            <div class="relative">
                                <img 
                                src={author.data.avatarUrl} 
                                alt="Author" 
                                class="w-12 h-12 rounded-full object-cover border-2 border-white dark:border-gray-800"
                                />
                                <div class="absolute -bottom-1 -right-1 w-5 h-5 bg-green-500 rounded-full border-2 border-white dark:border-gray-800"></div>
                            </div>
                            
                            <div class="ml-4">
                                <h4 class="font-medium text-gray-900 dark:text-white">{author.data.name}</h4>
                                <p class="text-sm text-gray-600 dark:text-gray-400">{author.data.detail}</p>
                            </div>
                        </div>)}
                    </div>
                </div>
            </div>
            <br class="my-4"/>
            <Footer/>
            <Portal>
                    <SearchModal client:load/>
            </Portal>
    </aside>
</body>

<style>
    @reference "tailwindcss";

    .content {
        min-height: 580px
    }
    .pill {
        @apply inline-block w-auto px-2 py-1 rounded-md shadow-md text-sm font-semibold uppercase bg-gray-800/80 text-white;
    }

    .post-preview {
        @apply  flex flex-col gap-6 text-white px-8 py-10;
    }
    .post-preview__title {
        @apply text-4xl font-black text-white hover:underline mb-1;
    }
    .post-preview__desc {
        @apply text-base leading-6 text-gray-50;
    }
    .meta {
        @apply text-sm font-semibold uppercase;
    }
</style>
