---
import BaseLayout from './BaseLayout.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import Nav from './Nav.astro';
import Portal from './Portal.astro';
import SearchModal from './SearchModal.svelte'
import { getEntries, type CollectionEntry } from 'astro:content';
import GuideChapter from './GuideChapter.astro';

interface Props {
    guide: CollectionEntry<'guide'>
    chapters: Array<CollectionEntry<'chapter'>>
}

const { guide, chapters } = Astro.props
const authors = await getEntries(guide.data.authors);

const niceToKnow = (guide?.data?.needs || []).map(tech => `<strong>${tech}</strong>`).join(', ')
---
<body class="font-sans antialiased min-h-screen bg-gray-100 dark:bg-gray-800">
    <div class="bg-gradient-to-br from-primary to-dark-secondary dark:from-dark-secondary dark:to-primary text-white dark:text-dark-base-100  transition-colors min-h-screen">
        <main class="mx-auto max-w-7xl px-4 md:px-0">
            <br class="my-4"/>
            <Header useBaseColors={true}/>
            <!-- <Nav/> -->
            <div class="flex justify-between content-end py-48 ">
                <div class="post-preview w-3/5 text-left">
                    <h4 class="post-preview__title dark:text-dark-primary">
                        {guide.data.title}
                    </h4>
                    <p class="post-preview__desc" set:html={guide.data.heroDescription}></p>
                    {chapters && chapters.length > 0 && <div>
                        <a class="inline-block cursor-pointer bg-gradient-to-br from-primary to-dark-secondary dark:from-dark-secondary dark:to-primary px-8 py-4 rounded-full font-bold shadow-primary shadow-xl border border-primary dark:border-dark-primary hover:shadow-2xl" href={`/guides/${chapters[0].guide.slug}/chapter/${chapters[0].guide.chapterSlug}`} title="Get Started">Get Started</a>
                    </div>}
                    <!-- Guide Extras -->
                    <p class="text-sm">Requires basic understanding of <Fragment set:html={niceToKnow}>{niceToKnow}</Fragment>. See the <a href="#overview" title="Learn More">ToC</a> or, <a href="#overview" title="Learn More">learn more</a> about what you'll build below.</p>

                </div>
                <div class="w-2/5 pl-10">
                    {guide.data.coverImagePath && <img class="block h-96" src={guide.data.coverImagePath.src} alt={guide.data.coverImagePath} height={100} />}
                </div>
            </div>
        </main>
    </div>
    <aside class="overview mx-auto max-w-7xl px-4 md:px-0" id="overview">
            <div class="content flex justify-between content-end pt-12 px-8 gap-8">
                <!-- Overview: Left -->
                <div class="col-left w-3/6">
                    <div >
                        <h3 class="font-semibold text-2xl mb-4">Overview</h3>
                        <p>{guide.data.overview}</p>
                    </div>
                    <br/>
                    {chapters && chapters.length > 0 && <div class="toc">
                        <div class="meta mb-4">
                            table of contents
                        </div>
                        <ul class="chapters list-none flex flex-col gap-3">
                                {
                                    chapters.map(
                                        (chapter, index) => <GuideChapter chapter={chapter} number={index + 1} />
                                    )
                                }
                        </ul>
                    </div>}
                </div>
                <!-- Overview: Right -->
                <div class="col-right w-3/6">
                    <div>
                        <slot/>
                    </div>
                    <br/>
                    <div class="flex justify-between content-end gap-8">
                        <div class="w-1/2">
                            <div class="meta mb-4 text-dark-primary">
                                author
                            </div>
                            <ul class="author__list flex flex-col gap-6">
                                { authors.map(author => <li class="author flex justify-between">
                                    <div class="w-16 flex items-center justify-center">
                                        <img class="rounded-full w-12 h-12" src={author.data.avatarUrl} />
                                    </div>
                                    <div class="author__detail flex-1">
                                        <h4 class="chapter__title font-semibold text-base text-gray-800">{author.data.name}</h4>
                                        <p class="chapter__desc text-sm">{author.data.detail}</p>
                                    </div>
                                </li>)}
                            </ul>
                        </div>
                        <!-- <div class="w-1/2 none">
                            <div class="meta mb-4">
                                contributors
                            </div>
                            <ul class="author__list flex flex-col gap-2">
                                { guide.data.contributors.map(contributor => <li class="author flex justify-between">
                                    <div class="w-16 flex items-center justify-center">
                                        <img class="rounded-full w-12 h-12" src={contributor.avatar} />
                                    </div>
                                    <div class="author__detail flex-1">
                                        <h4 class="chapter__title font-semibold text-base text-gray-800">{contributor.name}</h4>
                                        <p class="chapter__desc text-sm">{contributor.detail}</p>
                                    </div>
                                </li>)}
                            </ul>
                        </div> -->
                    </div>
                </div>
                <!-- <slot /> -->
            </div>
            <br class="my-4"/>
            <Footer/>
            <Portal>
                    <SearchModal client:load/>
            </Portal>
    </aside>
</body>

<style>
    @reference "tailwindcss";

    .content {
        min-height: 580px
    }
    .pill {
        @apply inline-block w-auto px-2 py-1 rounded-md shadow-md text-sm font-semibold uppercase bg-gray-800/80 text-white;
    }

    .post-preview {
        @apply  flex flex-col gap-6 text-white px-8 py-10;
    }
    .post-preview__title {
        @apply text-4xl font-black text-white hover:underline mb-1;
    }
    .post-preview__desc {
        @apply text-base leading-6 text-gray-50;
    }
    .meta {
        @apply text-sm font-semibold uppercase;
    }
</style>
